{% extends 'base.html.twig' %}

{% block page_title %}{{ user.firstname }} {{ user.lastname }} Profile{% endblock %}
{% block title %}{{ user.firstname }} {{ user.lastname }} Profile{% endblock %}

{% block body %}
    {#
        Fixme afficher sous forme de <ul> <li>
        firstname
        lastname
        email
        birthday
    #}

    <ul>
        <li>First name: {{ user.firstname }}</li>
        <li>Last name: {{ user.lastname }}</li>
        <li>Email: {{ user.email }}</li>
        <li>Birthday: {{ user.birthday|date("F d, Y g:i") }} </li>
    </ul>
{% endblock %}
